.btn-blue {
  text-decoration: none;
  font-weight: bold;
  background-color: #7A7AFD;
  padding: 8px 36px;
  color: white;
  border-radius: 4px;
  /*margin: 8px;*/
  box-shadow: 2px 2px 2px #6767D6;
  transition: .2s;
}
