.container {
  width: 900px;
  margin: 0 auto;
  color: white;
}

.container p {
  margin-bottom: 36px;
}

.container p {
  font-size: 20px;
}

.container h1 {
  font-size: 60px;
}


.container h2 {
  font-size: 40px;
  color: #8D8DF3;
  text-align: center;
}
